$b-sm: 576px; //Small devices (landscape phones, 576px and up)
$b-md: 768px; //Medium devices (tablets, 768px and up)
$b-lg: 992px; //Large devices (desktops, 992px and up)
$b-xl: 1200px; //Extra large devices (large desktops, 1200px and up)
